<div class="dashboard-side">
  <!-- .Admin side -->
  <div class="dashboard-sidebar">
    <a href="/" class="virtualred-logo router-link-active">
      <img src="assets/resources/virtualred-logo/monocromatico/logo-virtualred-white.svg" alt="redonline">
    </a>
    <div id="botoes" class="dashboard-menu">
      <button type="button" class="is-active">
        <span>
          <span class="icon icon-painel"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Painel</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-alunos"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Alunos</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-corretor"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Corretores</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-escolas"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Escolas</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-propostas"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Propostas</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-turmas"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Turmas</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-gerenciar-usuarios"><i
              class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Usuários</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-diretor-cinza"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Diretores</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-correcoes"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Correções</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-simulados"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Simulados</p>
        </span>
      </button>
      <button type="button">
        <span>
          <span class="icon icon-biblioteca"><i class="mdi mdi-undefined mdi-24px"></i></span>
          <p class="sidemenutext">Editar Biblioteca</p>
        </span>
      </button>
      <div class="dropdown is-up up is-hoverable">
        <div role="button" aria-haspopup="true" class="dropdown-trigger"><button type="button" id="new-register">
            <span>
              <span class="icon icon-addcircle"><i
                  class="mdi mdi-undefined mdi-24px"></i></span>
              <p class="sidemenutext">Novo Cadastro</p>
            </span>
          </button></div>

        <div aria-hidden="true" class="dropdown-menu">
          <div role="list" class="dropdown-content"><a role="listitem" tabindex="0"
              class="dropdown-item"><span>Option 1</span></a><a role="listitem" tabindex="0"
              class="dropdown-item"><span>Option 1</span></a><a role="listitem" tabindex="0"
              class="dropdown-item"><span>Option 1</span></a><a role="listitem" tabindex="0"
              class="dropdown-item"><span>Option 1</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- .adminside -->
</div>
