<article class="card-options">
  <p class="text600">Acesse a Biblioteca</p>

  <div class="card-options-items">
    <a href="" class="card-options-item">
      <figure>
        <div class="card-options-image">
          <img src="https://app.virtualred.com.br/img/videoaulas.43ce2f8d.svg" alt=""
            class="card-options-icon">
          <span class="icon icon-addcircle"></span>
        </div>
        <figcaption class="card-options-label">Menu Item</figcaption>
      </figure>
    </a>
    <a href="" class="card-options-item">
      <figure>
        <div class="card-options-image">
          <img src="https://app.virtualred.com.br/img/videoaulas.43ce2f8d.svg" alt=""
            class="card-options-icon">
          <span class="icon icon-addcircle"></span>
        </div>
        <figcaption class="card-options-label">Menu Item</figcaption>
      </figure>
    </a>
    <a href="" class="card-options-item">
      <figure>
        <div class="card-options-image">
          <img src="https://app.virtualred.com.br/img/videoaulas.43ce2f8d.svg" alt=""
            class="card-options-icon">
          <span class="icon icon-addcircle"></span>
        </div>
        <figcaption class="card-options-label">Menu Item</figcaption>
      </figure>
    </a>
    <a href="" class="card-options-item">
      <figure>
        <div class="card-options-image">
          <img src="https://app.virtualred.com.br/img/videoaulas.43ce2f8d.svg" alt=""
            class="card-options-icon">
          <span class="icon icon-addcircle"></span>
        </div>
        <figcaption class="card-options-label">Menu Item</figcaption>
      </figure>
    </a>
    <a href="" class="card-options-item">
      <figure>
        <div class="card-options-image">
          <img src="https://app.virtualred.com.br/img/videoaulas.43ce2f8d.svg" alt=""
            class="card-options-icon">
          <span class="icon icon-addcircle"></span>
        </div>
        <figcaption class="card-options-label">Menu Item</figcaption>
      </figure>
    </a>
  </div><!-- .card-options-items -->
</article>
