<table class="table has-mobile-cards is-hoverable">
  <thead>
    <tr>
      <!---->
      <th class="checkbox-cell"><label class="b-checkbox checkbox"><input type="checkbox" true-value="true"
            value="false"> <span class="check"></span> <span class="control-label"></span></label></th>
      <th class="is-sortable">
        <div class="th-wrap">Numero <span class="icon is-small is-desc" style="display: none;">
            <i`
              class="mdi mdi-arrow-up"></i>
          </span></div>
      </th>
      <th class="is-sortable">
        <div class="th-wrap">Proposta <span class="icon is-small is-desc" style="display: none;"><i
              class="mdi mdi-arrow-up"></i></span></div>
      </th>
      <th class="is-sortable">
        <div class="th-wrap">Grade <span class="icon is-small is-desc" style="display: none;"><i
              class="mdi mdi-arrow-up"></i></span></div>
      </th>
      <th class="is-current-sort is-sortable">
        <div class="th-wrap">Enviada em <span class="icon is-small is-desc"><i class="mdi mdi-arrow-up"></i></span>
        </div>
      </th>
      <th class="" style="width: 180px;">
        <div class="th-wrap is-centered">Ações <span class="icon is-small is-desc" style="display: none;"><i
              class="mdi mdi-arrow-up"></i></span></div>
      </th>
      <!---->
    </tr>
    <!---->
    <!---->
  </thead>
  <tbody>
    <tr draggable="false" class="">
      <!---->
      <td class="checkbox-cell"><label class="b-checkbox checkbox"><input type="checkbox" true-value="true"
            value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
      <td data-label="Numero" class="">9</td>
      <td data-label="Proposta" class="">Poder do dialogo</td>
      <td data-label="Grade" class="">ENEM</td>
      <td data-label="Enviada em" class="">2020-02-28T15:31:05.000000Z</td>
      <td data-label="Ações" class="has-text-centered"><span data-label="Detalhes"
          class="is-dark is-top is-medium b-tooltip" style="transition-delay: 0ms;"><button id="info"
            class="button is-primary is-round"><span class="icon"><i
                class="mdi mdi-eye mdi-24px"></i></span></button></span></td>
      <!---->
    </tr>
    <!---->
    <!---->
    <tr draggable="false" class="">
      <!---->
      <td class="checkbox-cell"><label class="b-checkbox checkbox"><input type="checkbox" true-value="true"
            value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
      <td data-label="Numero" class="">8</td>
      <td data-label="Proposta" class="">Poder do dialogo</td>
      <td data-label="Grade" class="">ENEM</td>
      <td data-label="Enviada em" class="">2020-02-27T19:35:30.000000Z</td>
      <td data-label="Ações" class="has-text-centered"><span data-label="Detalhes"
          class="is-dark is-top is-medium b-tooltip" style="transition-delay: 0ms;"><button id="info"
            class="button is-primary is-round"><span class="icon"><i
                class="mdi mdi-eye mdi-24px"></i></span></button></span></td>
      <!---->
    </tr>
    <!---->
    <!---->
  </tbody>
  <!---->
</table>
