/**
 * CORES
 */

$red100:	    #d7311c; // bg footer
$red200:	    #d9000f; // default
$red300:	    #a5220c; // txt breadcrum, txt menu sidebar active, txt form labels

$orange100:		#ec8700; // bg icon notification color indicator
$orange300:		#f38728; // border left sidebar menu active,
$orange200:		#ea5703; // default
$orange400:   #FF8359;


$yellow100:		#ebae1d; // default
$yellow200:		#fffbef; // bg body,
$yellow300:		#fff2e7; // bg icon notification border indicator
$yellow400:		#fff3e8; // bg breadcrumb,
$yellow500:		#fff4db; // bg menu sidebar active
$yellow600:   #FFDF40;

$gray100:		#d6d6d6; // bg cards,
$gray200:		#b3afb3; // txt menu sidebar, txt card user position
$gray300:		#abafb3; // bg icon notification, bg card user icon arrowdown
$gray400:		#979797; //
$gray500:		#898989; // txt geral, txt footer
$gray600:		#6D6D6D; // txt link form login
$gray700:		#464a53; // txt cards title, txt card user name

$blur100:		#69ABF5; // grd card ultimas propostas item
$blur200:		#7596F6; // grd card ultimas propostas item
$blur300:		#7F63F4; // txt cards link

$pinky100:    #FF7C6E;
$pinky200:    #F5317F;


$navbar-bg:		white;
