.card{

	&-options{

		background-color: white;
		padding: 2em;
		margin: 2em;
		@include round-corners(4px);
		@include box-shadow($top:0, $left:0, $blur:0.5em);

		&-items{

			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;


		}
		&-item{
			padding: 0 1em;
			text-decoration: none;
			color: $gray700;
		}
		&-image{

			display: flex;
			flex-direction: column;
			justify-content: center;

			@include rotate(45);
			@include round-corners(2em);
			@include size(6em);
			@include box-shadow($top:0, $left:0, $blur:1.5em, $color: rgba(black, 0.05));
			img, span{
				@include rotate(-45);
			}
			span{
				visibility: hidden;
			}
			&:hover{
				span{
					visibility: visible;
				}
				img{
					visibility: hidden;
				}
			}
		}
		&-label{
			display: block;
			text-align: center;
			padding: 2em 0;
		}
		// figure{
		// 	display: flex;
		// 	flex-direction: column;
		// 	justify-content: center;
		// 	align-items: center;

		//
		// 	@include size(100%);
		// }
	}
}


.imagecontainer {
  margin: 50px auto;
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 30px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  position: relative;

  margin-left: 20px;
  margin-right: 20px;

  /* non-essential styling */
  // @extend .fullsizeshadow;
}

.imagecontainer img {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */
  position: absolute;
  top: 25%;
  left:25%;

  height: 45%;
  width: 45%;
}

.imagecontainer span {
  height: 100%;
  width: 100%;
  font-size: 40px;
  text-decoration: none !important;
  visibility: hidden;

  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */
}

.imagecontainer:hover img{
  display: none;
}

.imagecontainer:hover span{
  visibility: visible;
}

.imagecontainer:hover{
  background-color: white;
}
